body{
  background-color: #fff;
}

.nav-item{
  margin: 14px;
  padding: 0;
}

.nav-link{
  padding: 0 14px 0 14px !important;
  color: #333 !important;
}

.nav-link:hover{
  background-color: #8CA8BB !important;
}

.corrente{
  color: #FFF !important;
  background-color: #1D5377 !important;
}

.conteudo_fixo{
  font-weight: bold;
  color: #1D5377;
  margin-bottom: 20px;
}

hr{
  border: 0.03rem solid #000 !important;
}

.primeiro_hr{
  position: relative;
  top: 18px;
}

.segundo_hr{
  position: relative;
  top: 18px !important;
}

.hr_footer{
  border: 3px solid #FFF;
  width: 100%;
  float: left;
}



#produtos{
  background-color: #D0D0D0;

}

#banner{
  background-color: #c3c3c3;
  height: 395px;
}

#quatro, #empresa, #servicos, #clientes, #fale_conosco, #suporte, #produtos {
  background-color: #D0D0D0;
}

footer{
  background-color: #c3c3c3;
}

.a_footer{
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
}

.a_footer:hover{
  text-decoration: none;
  font-size: 0.8rem;
}

.rodape{
  margin-top: 7px;
  font-size: 0.77rem;
}

.primera_imagem{
  height: 334;
  width: auto;
  position: absolute;
  top: 20px;
  z-index: 2;
  border: 2px solid #FFF;
  border-radius: 5px;
}

.segunda_imagem{
  height: 334;
  width: auto;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 40%;
  border: 2px solid #FFF;
  border-radius: 5px;
}

.servidor{
  height: 98px;
}

.imagem_produto{
  text-align: center;
}

.imagem_depoimento{
  display: inline;
  float: left;
  margin-right: 4%;
}

.img_banner{
  position: relative;
  left: -8.95%;
  top: -30px;
}



.figure_clientes{
	display: inline-block;
	position: relative;
	width: 100%;
}

.figure_clientes figcaption {
  position: absolute;
  bottom: 110px;
  left: 10%;
	right: 10%;
}

.foto_clientes{
  display: inline-block;
	position: relative;
	width: 90%;
}

.descricao{
	display: none;
}
.figure_clientes:hover .descricao{
	display: block;
}

.figure_clientes:hover .foto_clientes{
  opacity: 0.2;
}

.texto{
  text-align: justify;
  font-size: 0.975rem;
}

.pezinho{
  font-size: 0.9rem;
  line-height:15px;
}

.servicos{
  text-align: center;
  padding: 0 3% 0 3%;
}



.primeiro_botao{
  width: 40%;
  height: 30px;
  background-color: #FF8C00;
  color: #FFF;
  border: 1px solid #FF8C00;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}



.borda{
  border: 10px solid #1D5377;
}

.borda_cinza{
  border: 10px solid #DDDFE0;
  border-radius: 1%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.quadro{
  background-color: #1D5377;
  box-shadow: -2px 2px 2px 0 rgba(0,0,0,0.5);
}

.imagem_empresa{
  width: 100%;
  border-radius: 1%;
}

.imagem_servico{
  width: 100%;
}

.padding_zero{
  padding: 0;
}

.white{
  color: #fff;
}

.text-centered{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-justify{
  text-align: justify;
}

.float_right{
  float: right;
}

.hr{
  border: 1px solid #000 !important;
}

.border_um{
  border: 1px solid #000;
}

.vh100{
  height: 100vh;
  background-repeat: no-repeat;
}

.section {
    height: 100vh;
    padding: 2vw;
    font-size: 4vw;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section:first-of-type {
    text-transform: uppercase;
    font-size: 7vw;
}

.section {
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* inicio deskotp */
@media screen and (min-width: 429px) {
  .navheader{
    height: 80px;
    background-color: #D0D0D0 !important;
    border-bottom: 3px solid #c3c3c3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #um{
    background-color: #1D5377;
    height: 395px;
  }

  .borda_cerrilada{
    border-right: 1px dotted #000;
  }

  .nuvemzinha{
    position: relative;
    left: 15%;
  }

  .pasta{
    position: relative;
    left: -14%;
    top: 6px;
  }

  .caixa{
    border: 1px solid #000;
    border-radius: 1%;
    background-color: #DDDFE0;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    width: 32.7%;
    margin-bottom: 10px;
  }

  .caixa_azul{
    color: #FFF;
    background-color: #1D5377;
    height: 60px;
    margin: 8px 0 8px 0;
    width: 100%;
  }

  .margin_right_5{
    margin-right: 5px;
  }

  .margin_left_5{
    margin-left: 5px;
  }

  .depoimento{
    position: relative;
  	top: 80px;
  }

  .borda_cinza{
    float: right;
  }

  .segundo_botao{
    width: 30%;
    height: 20px;
    font-size: 0.7rem;
    float: right;
    background-color: #FF8C00;
    color: #FFF;
    border: 1px solid #FF8C00;
    border-radius: 0.5%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }

  .terceiro_botao{
    width: 20%;
    height: 20px;
    font-size: 0.7rem;
    float: right;
    background-color: #8CA8BB;
    color: #FFF;
    border: 1px solid #8CA8BB;
    border-radius: 0.5%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
}
/* fim deskotp */

/* inicio mobiles */
@media screen and (max-width: 320px) {
  #um{
    background-color: #1D5377;
    height: 580px;
  }

  .img_banner_xs{
    width: 111%;
    position: relative;
    left: -11.95%;
  }

  .carousel-indicators{
    position: relative;
    top: 470px;
  }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
  #um{
    background-color: #1D5377;
    height: 460px;
  }

  .img_banner_xs{
    width: 109%;
    position: relative;
    left: -9.95%;
  }

  .carousel-indicators{
    position: relative;
    top: 365px;
  }
}

@media screen and (min-width: 377px) and (max-width: 429px) {
  #um{
    background-color: #1D5377;
    height: 420px;
  }

  .img_banner_xs{
    width: 107%;
    position: relative;
    left: -9.95%;
  }

  .carousel-indicators{
    position: relative;
    top: 315px;
  }
}

/* tablet */
@media screen and (min-width: 430px) and (max-width: 762px) {
  .tablet{
    width: 100%;
  }

  .primera_imagem, .segunda_imagem{
    display: none;
  }

  #um{
    background-color: #1D5377;
    height: 350px;
  }

  .carousel-indicators{
    position: relative;
    top: 315px;
  }

  .segundo_botao{
    width: 100%;
    height: 20px;
    font-size: 0.7rem;
    float: right;
    background-color: #FF8C00;
    color: #FFF;
    border: 1px solid #FF8C00;
    border-radius: 0.5%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-bottom: 15px;
  }

  .navbar{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .navbar-toggler{
    position: relative;
    top: 0;
    right: -45%;
  }

  .navheader{
    height: 80px;
    background-color: #D0D0D0 !important;
    border-bottom: 3px solid #c3c3c3;
  }

  .collapse{
    position: relative;
    top: 190px;
    width: 100%;
    background-color: #D0D0D0 !important;
  }

  .borda_cerrilada{
    border-right: 0;
  }

  #banner{
    height: 655px;
  }

  .img_banner{
    width: 107%;
    position: relative;
    left: -9.35%;
  }

  .pasta{
    position: relative;
    left: -35%;
    top: 6px;
  }
}

@media screen and (max-width: 430px) {
  .navbar{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .navbar-toggler{
    position: relative;
    top: 20px;
    right: 4%;
  }

  .navheader{
    height: 80px;
    background-color: #D0D0D0 !important;
    border-bottom: 3px solid #c3c3c3;
  }

  .collapse{
    position: relative;
    top: 50px;
    background-color: #D0D0D0 !important;
  }

  #um{
    background-color: #1D5377;
  }

  #logo{
    float: center;
    width: 90%;
  }

  #celular, .nuvemzinha, #computador{
    position: relative;
    top: -20px;
  }

  #celular{
    width: 100%;
  }

  .titulos_xs{
    text-align: center;
  }

  .primeiro_hr{
    position: relative;
    top: 18px;
  }

  .segundo_hr{
    position: relative;
    top: 18px;
  }

  .nuvemzinha{
    position: relative;
    left: 15%;
  }

  .pasta{
    position: relative;
    left: -36%;
    top: -14px;
  }

  .caixa{
    border: 1px solid #000;
    border-radius: 1%;
    background-color: #DDDFE0;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-bottom: 10px;
  }

  .caixa_azul{
    color: #FFF;
    background-color: #1D5377;
    height: 60px;
    margin: 8px 0 8px 0;
    width: 100%;
  }

  .borda_cinza{
    margin-top: 20px;
    width: 100%;
    float: right;
  }

  .segundo_botao{
    width: 100%;
    height: 20px;
    font-size: 0.7rem;
    float: right;
    background-color: #FF8C00;
    color: #FFF;
    border: 1px solid #FF8C00;
    border-radius: 0.5%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-bottom: 15px;
  }

  .terceiro_botao{
    width: 100%;
    height: 20px;
    font-size: 0.7rem;
    float: right;
    background-color: #8CA8BB;
    color: #FFF;
    border: 1px solid #8CA8BB;
    border-radius: 0.5%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
}
/* fim mobiles */
